.app-body { 
background: url(../img/bg.png) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
a {
	color: #616161;
}
.app-jumbotron {
	background-color: rgba(10, 5, 0, 0.7);
}
.app-container {
	background-color: #FFFFFF;
	float: none;
	/*width: 100%;*/
}
.app-header {
	padding: 2rem 15px;
    margin-bottom: 1.5rem;
    color: rgb(134, 213, 231);
    background-color: #07abd0;
}
th {
	background-color: rgb(255, 243, 155);
	text-align: center;
	font-size: 20px;
}
tr {
	text-align: center;
}
td {
	font-size: 24px;
    font-weight: bold;
}
select {
  background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");
  background-color: rgb(236, 236, 236);
  background-repeat:no-repeat;
  background-position: right 10px top 15px;
  background-size: 16px 16px;
  color:white;
  padding:8px;
  width:100%;
  font-family:arial,tahoma;
  font-size:15px;
  color: #2b2a2a!important;
  text-align:center;
  text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
  border-radius:3px;
  -webkit-border-radius:3px;
  -webkit-appearance: none;
  border:0;
  outline:0;
  -webkit-transition:0.3s ease all;
	   -moz-transition:0.3s ease all;
	    -ms-transition:0.3s ease all;
	     -o-transition:0.3s ease all;
	        transition:0.3s ease all;
}
select:focus, select:active {
  border:0;
  outline:0;
}
.app-th-left {
	border-top-left-radius: 15px;
}
.app-th-right {
	border-top-right-radius: 15px;
}
.app-table {
	/*border: 1px solid black;*/
	/*border-collapse: collapse;*/
}
tr:hover {
	background-color: #F5F5F5;
}
.app-text-ammount {
	margin-left: 5px;
    margin-right: 5px;
    width: 40px;
    height: 32px;
    margin-top: -3px;
    margin-bottom: -3px;
    border-radius: 5px;
    border-color: white;
    border: solid 0px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
.app-button {
	cursor: pointer;
	transition: opacity 0.15s linear;
}
.app-button:hover {
	opacity: 0.7;
}
.app-ammount-group {
	background-color: inherit;
	border: none;
}
.app-color-red {
	color: #D80000;
}
.app-color-blue {
	color: #3A6EFB;
}
.app-waiting {
	margin: 0 auto;
	float: none;
}
.app-strong {
	font-weight: bold;
}
@font-face {
	font-family: 'signpaintermedium';
	src: url('../fonts/signpainter-housescript-webfont.eot');
	src: url('../fonts/signpainter-housescript-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/signpainter-housescript-webfont.woff2') format('woff2'),
	url('../fonts/signpainter-housescript-webfont.woff') format('woff'),
	url('../fonts/signpainter-housescript-webfont.ttf') format('truetype'),
	url('../fonts/signpainter-housescript-webfont.svg#signpaintermedium') format('svg');
	font-weight: normal;
	font-style: normal;
}
.app-text-style-special {
	font-family: 'signpaintermedium', Arial, sans-serif;
	text-shadow: 3px 3px 10px #333;
    color: rgb(255, 235, 0)!important;
}
.app-text-style-white {
	color: rgb(195, 178, 160);
}
.app-navbar {
	background-color: rgba(255, 255, 255, 0.88);
    border-radius: 0px 0px 10px 10px;
    font-size: 24px;
}
.app-bnt-change-ammount {
	color: white;
    border-radius: 39px;
    font-size: 6px;
    width: 36px;
}
.app-logo {
	width: 127px;
    margin-top: 9px;
    margin-left: -12px;
    -webkit-filter: contrast(0);
}